- 
  var sections = [
    'Форум',
    'Начать играть',
    'Новости',
    'Донат',
    'Помощь'
  ]

- 
  var atributes = [
    ['Деньги на руках', '500 руб.'],
    ['Банковский счет', '500 руб.'],
    ['Трудоустройство', 'Безработный'],
    ['Должность', 'Безработный'],
    ['Жилье', 'Нет'],
    ['Бизнес', 'Нет'],
    ['Транспорт', 'Bullet (541)'],
    ['Количество предупреждений', '10']
  ]
