.footer {
  .logo {
    filter: grayscale(100%);
    transition: .4s;

    &:hover {
      filter: grayscale(0%);
    }
  }

  .nav__item {
    margin-right: 63px;
  };
}

.footer__top {
  padding: 31px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.footer__bottom {
  padding: 7px 0;
  background-color: #0f0f11;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.copyrights {
  color: #fff;
  opacity: .45;
  font-size: 14px;
  width: 450px;
  line-height: 16px;
}

.socials__list {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 55px;
  opacity: .5;
  transition: .3s;

  &:hover {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: flex;
}

.socials__img {
  fill: #fff;
  height: 20px;
}
