extends ../template

block variables
  - var title = 'Diperia RolePlay – Настройки аккаунта'

block content
  include ../common/vars
  include ../components/header

  .main.settings
    include ../components/help
    .container
      .main__title.settings__title Настройки аккаунта
      .settings__cont
        .settings__nav
          ul.settings__nav-list
            li.settings__nav-item#pass-item.settings__nav-item--active Смена пароля
            li.settings__nav-item#2fa-item Установка 2FA
            li.settings__nav-item#mail-item Смена почты
            li.settings__nav-item#nick-item Смена ника
            li.settings__nav-item#activity-item Активность

        .settings__inner
          ul.settings__inner-list
            li.settings__inner-item.settings__inner-item--active
              include ../components/pass-form
            li.settings__inner-item
              include ../components/2fa
            li.settings__inner-item
              include ../components/mail-form
            li.settings__inner-item
              include ../components/nick-form
            li.settings__inner-item
              include ../components/activity

  include ../components/footer
