.settings__form.form
  form.form__inner#mail(method="post" action="")
    .form__cont
      .form__row
        input.form__input(type="password" name="mail-pass" id="mail-pass" placeholder="Введите пароль от профиля")
      input.form__input(type="text" name="new-mail" id="new-mail" placeholder="Введите новый email")
      input.form__input(type="text" name="new-mail-repeat" id="new-mail-repeat" placeholder="Повторите новый email")
    
    .form__buttons
      button.form__btn(type="submit") Изменить