.settings__info
  p Обращаем Ваше внимание, что никнейм должен соответствовать
  a(href="#") правилам RolePlay ников.
  p.
    Формат никнейма: Имя_Фамилия на латинице. Запрещено использовать никнеймы, содержащие оскорбления, нецензурную лексику и их завуалированные аналоги.
  p.accent.
    В случае, если Ваш никнейм не соответствует правилам, он может быть изменён принудительно.
.settings__form.form
  form.form__inner#nick(method="post" action="")
    .form__cont
      .form__row
        input.form__input(type="password" name="nick-pass" id="nick-pass" placeholder="Введите пароль от профиля")
      
      input.form__input(type="text" name="new-nick" id="new-nick" placeholder="Введите желаемое имя (Name_name)")
    
    .form__buttons
      button.form__btn(type="submit") Изменить