.settings__form.form
  form.form__inner#pass(method="post" action="")
    .form__cont
      .form__row
        input.form__input(type="password" name="before-pass" id="before-pass" placeholder="Старый пароль")
      input.form__input(type="password" name="new-pass" id="new-pass" placeholder="Новый пароль")
      input.form__input(type="password" name="new-pass-repeat" id="new-pass-repeat" placeholder="Повторите новый пароль")
    
    .form__buttons
      button.form__btn(type="submit") Изменить